* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1440px;
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  background-color: #121725;
}

.heading-primary {
  margin-bottom: 24px;
  font-weight: 300;
  color: #ffffff;
  font-size: 52px;
  line-height: 62px; /* 119.231% */
  text-transform: uppercase;
  font-style: normal;
}
.heading-primary-green {
  color: #54e6af;
}

.access {
  position: relative;
  margin: 130px 0 0 165px;
}
.access__logo {
  position: absolute;
  line-height: 0px;
  top: 0;
  transform: translateY(-50%);
}
.access__logo-img {
  height: 56px;
}
.access__logo-margin {
  height: 131px;
}
.access__container {
  display: flex;
  flex-direction: column;
  width: 723px;
  padding: 88px 58px 0 0;
  background-color: #121725;
}
.access__text {
  width: 445px;
  margin-bottom: 40px;
  color: #c2cbe5;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.access__form {
  position: relative;
  border-radius: 28px;
  width: 427px;
}
.access__form-input {
  width: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  border-radius: 28px;
  border: none;
  padding: 14px 32px;
  background-color: #2c344b;
}
.access__form-input::placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.access__form-input:focus {
  outline: none;
}
.access__form-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 32px;
  font-size: 14px;
  line-height: 28px;
  color: #121725;
  border: none;
  border-radius: 28px;
  background-color: #54e6af;
  box-shadow: 0px 2px 4px 0px rgba(84, 230, 175, 0.14);
}
.access__form-btn:hover {
  background-color: #b3ffe2;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
}
.access__form-erorr-message {
  margin: 8px 0 0 32px;
  color: #fb3e3e;
  font-size: 12px;
  line-height: normal;
  margin-bottom: 42px;
}
.access__form-erorr-message--hidden {
  visibility: hidden;
}
.access__media {
  width: 536px;
  height: 29px;
  display: flex;
  align-items: center;
}
.access__media-logo {
  height: 29px;
  margin-right: 40px;
}
.access__media-logo-google {
  height: 18px;
  margin-right: 27px;
}
.access__media-logo-pocket {
  height: 26px;
  margin-right: 0;
}
.access__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 888px;
  height: 640px;
  background: url("../images/desktop/image-host.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  mix-blend-mode: screen;
  z-index: -1;
}
.access__decoration-dots {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}

@media (max-width: 768px) {
  body {
    width: 768px;
  }
  .heading-primary {
    margin-bottom: 31px;
    font-size: 48px;
    line-height: 56px;
  }
  .access {
    margin: 0;
    padding: 50px 0px 257px 39px;
  }
  .access__logo {
    position: relative;
    top: 0;
    transform: translateY(0%);
  }
  .access__logo-margin {
    height: 152px;
  }
  .access__container {
    width: 635px;
    padding: 93px 0px 0px 0px;
  }
  .access__img {
    top: 0;
    width: 491px;
    height: 767px;
    background: url("../images/tablet/image-host.jpg"), lightgray 0px 0px/100% 100% no-repeat;
  }
  .access__decoration-dots {
    top: 920px;
    right: 506px;
    transform: translateY(0%);
  }
}
@media (max-width: 375px) {
  body {
    width: 375px;
    height: 367px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }
  .heading-primary {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 38px;
  }
  .access {
    position: relative;
    margin: 0;
    padding: 0px;
    padding-top: 62px;
  }
  .access__logo-margin {
    height: 57px;
  }
  .access__container {
    width: 100%;
    padding: 0px 24px;
    background-color: transparent;
  }
  .access__text {
    width: 100%;
    margin-bottom: 33px;
    font-size: 15px;
    line-height: 25px; /* 155.556% */
  }
  .access__form {
    border-radius: 28px;
    width: 100%;
    order: 2;
  }
  .access__form-input {
    width: 100%;
    padding: 9px 32px;
    margin-bottom: 16px;
  }
  .access__form-btn {
    position: relative;
    width: 100%;
    padding: 9px 109px;
  }
  .access__form-erorr-message {
    margin-bottom: 94px;
  }
  .access__media {
    width: 100%;
    height: 17px;
    margin-bottom: 48px;
  }
  .access__media-logo {
    height: 17px;
    margin-right: 23px;
  }
  .access__media-logo-google {
    height: 11px;
    margin-right: 16px;
  }
  .access__media-logo-pocket {
    height: 15px;
    margin-right: 0;
  }
  .access__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 375px;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/mobile/image-host.jpg");
  }
  .access__decoration-dots {
    display: none;
  }
}